.about-us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 28px;
}

.about-us__subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 35px;
}

.about-us__subtitle span {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 2px;
    background-color: var(--color-primary-dark, #383A4C);
    margin: 0px 23px;
}

.about-us__description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140.625%;
    max-width: 724px;
    margin-bottom: 59px;
}

.about-us__list {
    display: flex;
    counter-reset: myCounter;
    gap: 40px 50px;
}

.about-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #383A4C;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 140.625%;
    width: 196px
}

.about-us__item:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: white;
    background: var(--color-primary, #23C7EC);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 57px;
    margin-bottom: 16px;
    line-height: 1.2;
    width: 122px;
    height: 122px;
    border-radius: 50%;
}

/* ------------------ */

@media (max-width: 1024px) {
    .about-us__title {
        font-size: 32px;
        margin-bottom: 23px;
        line-height: 1.2;
    }

    .about-us__subtitle {
        font-size: 20px;
        margin-bottom: 33px;
    }

    .about-us__subtitle span {
        width: 40px;
        margin: 0px 20px;
    }

    .about-us__description {
        font-size: 16px;
        max-width: 666px;
    }

    .about-us__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about-us__item {
        width: 180px;
        font-size: 18px;
    }

    .about-us__item:before {
        margin-bottom: 26px;
        width: 104px;
        height: 104px
    }
}

@media (max-width: 1000px) {
    .about-us__list {
        column-gap: 30px;
    }
}

@media (max-width: 890px) {
    .about-us__item {
        flex: 0 0 47%;
    }
}

@media (max-width: 768px) {
    .about-us__title {
        font-size: 27px;
        margin-bottom: 18px;
    }

    .about-us__item {
        flex: 0 0 33%;
    }

    .about-us__description {
        font-size: 16px;
        max-width: 666px;
    }
}

@media (max-width: 618px) {
    .about-us__item {
        flex: 0 0 50%;
    }
}

@media (max-width: 350px) {
    .about-us {
        padding: 30px 0 62px;
    }

    .about-us__title {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .about-us__subtitle {
        font-size: 16px;
        margin-bottom: 29px;
    }

    .about-us__subtitle span {
        width: 19.7px;
        margin: 0px 27px;
    }

    .about-us__description {
        font-size: 12px;
        max-width: 666px;
        margin-bottom: 43px;
    }

    .about-us__list {
        row-gap: 41px;
    }

    .about-us__item {
        flex: 0 0 180px;
    }

    .about-us__item:before {
        font-size: 52px;
    }
}