:root {
    --color-primary: #23C7EC;
    --color-primery-lightest: #F9F9F9;
    --color-primary-light: #4A76A8;
    --color-primary-dark: #383A4C;
    --color-primary-darkest: #2A2C3F;
    --color-primary-darker: #2F324B;

}